<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=8">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="red lighten-4" role="navigation">
     <div class="nav-wrapper container"><a href="/" class="brand-logo"><i class="material-icons">fitness_center</i>Dr FIT</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://github.com/bhavana1793/Calorie-Predictor-master">GitHub</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center red-text">DR Fit</h1>
      <div class="row center">
        <h5 class="header col s12 light brown-text">DR FIT An AI based Finess Application</h5>
      </div>

<body>
<!--
<form action='/k' method='post'>
<input type='file' name='file'/><br/>
<input type='submit' value='submit'/>
</form>-->


<!--<img id="pic" src="static/filess.jpg" />-->

<div class="row">
    <div class="col s12 m12">
      <div class="card" style="margin: 0px;">
        <div class="card-image">
          <img src="{{ imagepath }}" alt="User Image"/>
          <span class="card-title">Card Title</span>
        </div>
      </div>
    </div>
  </div>

<div>
  <div class = "weight">
  </div>
</div>

<div class="row">
    <form class="col s12" action="{{ url_for('result') }}" method="POST" name="weight">
      <div class="row">
        
        <h2>Food uploaded is detected as {{ predicted_class }}</h2>
		<label for="weightofperson">Please enter weight of food</label>
		<input name="weight" type="text" placeholder="please enter weight of food">
		<label for="weightofperson">Please enter your weight</label>
         <input type="text" name="weightofperson" placeholder=" Please Enter your weight"><br><br>
      </div>
      <input class="btn waves-effect waves-light" type="submit" value="submit">
    </form>
  </div>

   <ul>

    </ul>
<!--  Weight: <input type="text" name="fname" value="" id="text"><br>-->

<!--</form>-->

</body>
<script>


function test() {
console.log("1111")

      console.log("path1");
      var path = "{{img_path}}";
      console.log(path);
      document.querySelector('#pic').src = "{{img_path}}";

}



</script>
<br>


      <br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Food detection </h5>
            <p class="light">estimating the calories in your food using computer vision </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Yoga poses​</h5>
            <p class="light">Burn the calories you ate with AI generated yoga poses</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Dance workouts​</h5>

            <p class="light">Get fit with AI as your dance partner </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <footer class="page-footer red lighten-2">
    <div class="container">
      <div class="row">
        <div class="col l8 s12">
          <h5 class="white-text">Bio</h5>
          <p class="grey-text text-lighten-4">Fitness Application with food prediction based on computer vision 
		  Yoga images generation and AI generated dance workout</p>


        </div>

        <div class="col l4 s12">
          <h5 class="white-text">Team</h5>
          <ul>
            <li><a class="white-text" href="#!">DANKOLY Usman</a></li>
            <li><a class="white-text" href="#!">ATASH AFROUZEH Shahin</a></li>
            <li><a class="white-text" href="#!">VAN VLEM Lisa</a></li>
            <li><a class="white-text" href="#!">DEVARAJU Bhavana</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
     Created by <a class="brown-text text-lighten-3" href="https://github.com/bhavana1793/Calorie-Predictor-master">Group Dr Fit: Usman, Lisa, Shahin, Bhavana</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="static/SecondPage/js/materialize.js"></script>
  <script src="static/SecondPage/js/init.js"></script>

  </body>
</html>